@import "tailwindcss";


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: midnightblue !important; */
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px 30px;

    
    
    
}

.nav-list{
    display: flex;
    font-size: 20px;
    color: azure;
    font-weight: bold;
   
}


.nav-list-item{
    margin-left: 20px;
}

.nav-list-item:hover{
    text-decoration: dotted;
    color: blue;
    cursor: pointer;
    border-radius: 20px;
    /* padding: 5px 10px; */
}


.logo{
    color: bisque;
    font-size: 20px;
    font-weight: bold;
}



.head{
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 15px; */
    height: 55px;
}

.icon{
    color:#FFFF;
    width: 24px;
    font-size: 30px;
    margin-right: 7px;
}

header > h1{
 color: #FFFF;
 font-size: 20PX;
 font-family: inter;
}


main{
   display: flex; 
   align-items: center;
   justify-content: center;
   gap: 2rem;
}


main > h1{
    display: flex;
}

main > h2{
    background-color: blue;
    color: #FFFF;
    padding: 10px 20px;
    font-size: 2rem;
}

main >button{
    background-color: #F55A5A;
    color: #FFFF;
    padding: 10px 20px;
    font-size: 2rem;
}
